theme "rose-pine"
simplified_ui false
pane_frames false
default_layout "compact"

show_startup_tips false
show_release_notes false

default_shell "zsh"
copy_on_select true
advanced_mouse_actions false
host_notification_protocol "off"

keybinds {
    shared_except "locked" {
        bind "Ctrl w" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
                floating false
                ignore_case true
                quick_jump true
            }
        }
    }
}
